<div class="jumbotron">
  <img class="rounded-circle" style="height: 10%; width: 10%;" src="{{activeAlbum.src}}">
  <h1 class="display-4">{{ activeAlbum.name}}</h1>
  <hr class="my-4">
  <div class="card-group">
    <div class="row-4 d-inline-flex p-2" *ngFor="let c of cards">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top flex-fill" src="{{ c.src }}" alt='img'>
        <div class="card-body">
          <h5 class="card-title">{{ c.title }}</h5>
          <button type="button" class="btn btn-outline-primary">
            <i class="fas fa-play" style="font-size: 20px;"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>