<form>
  <div class="form-row">
    <div class="container-fluid">
    <h4>Account Settings</h4>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Change Password</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Old Password">
    </div>

    <div class="form-group col-md-6">
      <label for="inputPassword5">New Password</label>
      <input type="password" class="form-control" id="inputPassword5" placeholder="New Password">
    </div>

    <div class="form-group col-md-6">
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Change Email">
    </div>
    </div>
    <br><br>


    <div class="container-fluid">
      <h4>Streaming Quality</h4>

      <div class="form-check">
        <input class="form-check-input" name="group100" type="radio" id="radio100">
        <label class="form-check-label" for="radio100">Low Quality</label>
      </div>

      <div class="form-check">
        <input class="form-check-input" name="group100" type="radio" id="radio101" checked>
        <label class="form-check-label" for="radio101">Medium Quality</label>
      </div>

      <div class="form-check">
        <input class="form-check-input" name="group100" type="radio" id="radio102">
        <label class="form-check-label" for="radio102">High Qualtiy</label>
      </div>
    </div>

    <br><br>
    <div class="container-fluid">
      <h4>Blocked Artists</h4>
      <input [ngModelOptions]="{standalone: true}" [(ngModel)]="blockee" type="text" id="blockee" placeholder="Seether">
      <button type="button" class="btn btn-outline-primary" style="size: 15px"  (click)="block()">
        <i class="fas fa-stop" style="font-size: 15px;"></i>
      </button>
      <br>
      <div class="container float-left">
      <div class="list-group" *ngFor="let a of artists">

        <a class="list-group-item">
          {{ a }}
        </a>
      </div>
      </div>
    </div>
    
    <br><br>
    <h4 class="float-center">Subscription</h4>
    <div id="itismeMario" class="container-fluid float-left">
    <div class="alert alert-info" role="alert">
        Your subscription is paid!
    </div>
    </div>
  </div>
</form>
