
<div id="wrapper">

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a style="color: #ffffff;" (click)="toggle();">
          Close
        </a>
      </li>
      <li>
        <a href="">Create Playlist</a>
        <a href="#" routerLink="settings" (click)="toggle();">Settings</a>
      </li>
    </ul>
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="navbar" (click)="toggle();" style="color: #ffffff;" >Google Play Music</div>
  <app-devices></app-devices>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="playlists">Playlists</a>
      </li> <li class="nav-item">
      <a class="nav-link" href="#" routerLink="community">Community</a>
    </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="nowplaying">Now Playing</a>
      </li>
    </ul>
  </div>

</nav>

