<div class="card-group">
  <div class="row-4 d-inline-flex p-2" *ngFor="let c of cards">
    <div class="card" style="width: 18rem;" (click)="nav(c.title)">
      <img class="card-img-top flex-fill" src="{{ c.src }}" alt='img'>
      <div class="card-body">
        <h5 class="card-title">{{ c.title }}</h5>
        <p class="card-text">{{ c.text }}</p>
        <!--<button type="button" class="btn btn-outline-primary">-->
        <!--<i class="fas fa-play" style="font-size: 20px;"></i>-->
        <!--</button>-->
        <div class="container">
          <div id="div1">
            <button type="button" class="btn btn-outline-primary" style="align-self: left;">
              <i class="fas fa-play" style="font-size: 20px;"></i>
            </button>
          </div>

          <div id="div2">
             <button type="button" class="btn btn-outline-primary" style="align-self: left;">Share Playlist</button>
          </div>

          <div id="div3">
            <button type="button" class="btn btn-outline-primary" style="align-self: left;">Download Playlist</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>