<!--- This may need to change --->
<!--Used https://gist.github.com/xav76/3947496 -->

<div class="main-container">
    <div class="coverflow-container">
        <ol class="coverflow-list">
            <!-- Cover item -->
            <li class="coverflow-item" *ngFor="let s of songs">
                <input type="radio" name="cover-item" id="{{ s.toCoverFlowField() }}">
                <label for="{{ s.toCoverFlowField() }}">
                    <figure class="album-cover">
                        <img src="{{s.src}}">
                        <figcaption class="album-name">{{s.name}}</figcaption>
                    </figure>
                </label>
            </li>
        </ol>
    </div>
</div>
