<h3>These are your recommendations!</h3>
<div class="card-group">
  <div class="row-4 d-inline-flex p-2" *ngFor="let c of cards">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top flex-fill" src="{{ c.src }}" alt='img'>
      <div class="card-body">
        <h5 class="card-title">{{ c.title }}</h5>
        <p class="card-text">{{ c.text }}</p>
      </div>
    </div>
  </div>

  <div class="row-4 d-inline-flex p-2" *ngFor="let c of cards2">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top flex-fill" src="{{ c.src }}" alt='img'>
      <div class="card-body">
        <h5 class="card-title">{{ c.title }}</h5>
        <p class="card-text">{{ c.text }}</p>
      </div>
    </div>
  </div>
</div>