

<nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar">

  <div class="text-center">
    <i class="fas fa-step-backward"></i>
    <i class="fas fa-play"></i>
    <i class="fas fa-step-forward" style="size: 50px"></i>
  </div>

  <p><ngb-progressbar type="success" [value]='progress'></ngb-progressbar></p>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

</nav>