<div class="card-group">
  <div class="row-4 d-inline-flex p-2" *ngFor="let c of cards">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top flex-fill" src="{{ c.src }}" alt='img'>
      <div class="card-body">
        <h5 class="card-title">{{ c.title }}</h5>
        <p class="card-text">{{ c.text }}</p>
        <button type="button" class="btn btn-outline-primary">
          <i class="fas fa-play" style="font-size: 20px;"></i>
        </button>
        <app-popover></app-popover>
      </div>
    </div>
  </div>
</div>