<h1>Family</h1>
<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
  <ngb-panel title="John Familia">
    <ng-template ngbPanelContent>
        Seether - Rise Above This<br>
        PVRIS - Holy
    </ng-template>
  </ngb-panel>


  <ngb-panel title="Debbie Familia">
    <ng-template ngbPanelContent>
      Rainbow Kitten Suprise - First Class
    </ng-template>
  </ngb-panel>

  <ngb-panel title="Phill Familia">
    <ng-template ngbPanelContent>
      Nickelback - How You Remind Me<br>
      Mimels - My Song
    </ng-template>
  </ngb-panel>

  <ngb-panel title="Ada Familia">
    <ng-template ngbPanelContent>
      Sundara Karma - Flame
    </ng-template>
  </ngb-panel>
</ngb-accordion>